{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 160,

  "plugins": ["prettier-plugin-astro", "prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "tailwindConfig": "./tailwind.config.cjs"
}
